
  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container animated bounceIn">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="index.html" class="navbar-brand"><img src="assets/_site/assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item active">
              <a class="nav-link overline" href="#hero-area" style=" border-top: 3px solid black;
                margin-top: 5px !important;
                padding-top: 0px !important;">
                HOME
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#quem-somos">
                QUEM SOMOS
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">
                CONTATO
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./#/login">
                PORTAL LUX
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated bounceInUp delay-2s">
            
            <h1 class="head-title text-center text-white super-title ">TODA FORÇA SERÁ FRACA, <br> SE NÃO ESTIVER UNIDA.</h1>
            <h2 class="text-center text-white super-sub-title">JEAN DE LA FONTAINER</h2>
            
            
          </div>
          
        </div>
      </div>
    </div>
    <!-- Hero Area End -->
  </header>
  <section id="promocional" class="section-padding" style="background: #FFF;" data-wow-delay="0.5s">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-2 py-2 animated bounceIn delay-3s">
          <div class="text-center title-icone py-0">
            <img src="assets/_site/assets/img/icone-economia.png" class="img-fluid">
            <p class="text-center">
              Economia
            </p>
          </div>
        </div>
        <div class="col-sm-2 py-2 animated bounceIn delay-4s">
          <div class="text-center title-icone">
            <img src="assets/_site/assets/img/icone-escolha.png" class="img-fluid">
            <p  class="text-center">
              Escolha
            </p>
          </div>
        </div>
        <div class="col-sm-2 py-2 animated bounceIn delay-5s">
          <div class="text-center title-icone">
            <img src="assets/_site/assets/img/icone-energia-sustentavel.png" class="img-fluid">
            <p class="text-center">
              Energia <br>
              <small>Sustentável</small>
            </p>
            <p>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <div id="valores-area" class="valores-area-bg  wow fadeInDown" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
            <div class="container-icon d-flex justify-content-center">
              <img src="assets/_site/assets/img/icone-missao.png" style="margin-left:25px;" class="align-self-center">
            </div>
            <div class="services-content">
              <h3><a href="#">MISSÃO</a></h3>
              <p class="text-justify">Oferecer o melhor serviço para as empresas que atuam na geração e distribuição de energia elétrica conectando clientes e parceiros.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
            <div class="container-icon d-flex justify-content-center">
              <img src="assets/_site/assets/img/icone-visao.png" class="align-self-center">
            </div>
            <div class="services-content">
              <h3><a href="#">VISÃO</a></h3>
              <p class="text-justify">Prestar um serviço que impacte positiva e significativamente nos resultados das empresas que atuam na geração e distribuição de energia elétrica.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
            <div class="container-icon d-flex justify-content-center">
              <img src="assets/_site/assets/img/icone-visao.png" class="align-self-center">
            </div>
            <div class="services-content">
              <h3><a href="#">VALORES</a></h3>
              <div style="text-align: justify;" class="text-font2">&bull; Valoriza&ccedil;&atilde;o das rela&ccedil;&otilde;es comerciais a partir da intera&ccedil;&atilde;o de pessoas.</div>

<div style="text-align: justify;" class="text-font2">&bull; Presta&ccedil;&atilde;o de servi&ccedil;o que supera as expectativas de nossos clientes e parceiros.</div>

<div style="text-align: justify;" class="text-font2">&bull; Gest&atilde;o e desenvolvimento negocial com &eacute;tica, transpar&ecirc;ncia e seguran&ccedil;a.</div>

<div style="text-align: justify;" class="text-font2">&bull; Nosso maior capital &eacute; o conhecimento.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="quem-somos" class="section-padding bg-gray">
    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">QUEM SOMOS</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <p>
            A LUX ENERGIA é uma empresa jovem, fundada em 2016, cujo diferecial está na qualificação, com mais de 30 anos de experiência e muito sucesso.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <p>
            "Saber e não fazer é o mesmo que não saber." - Wall Street <br>
            "Saber e não fazer, ainda não é saber." - Lao Tsé <br>
            "Saber o que é correto e não fazer é falta de coragem." - Confúcio <br>
            "Saber não é saber fazer." - Vini Tadeu
          </p>
        </div>
        
      </div>
    </div>
  </section>
  <div id="portal-area" class="portal-area-bg  wow fadeInDown" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-6">
          <div class="formulario-portal bg-white rounded wow fadeInRight p-3 " data-wow-delay="0.3s">
            <div class="text-center mb-2">
              <img src="assets/_site/assets/img/portal.png" alt="" style="height: 60px; margin-bottom: 10px;">
            </div>
            <div>
              <div class="mb-0 form-group row mt-1 justify-content-center">
                <label for="login" class="col-sm-1 col-form-label col-form-label-sm text-font" style="margin-right: 10px;">LOGIN</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control form-control-sm rounded-0 p-0" id="login" value="" [formControl]="loginForm.controls.login">
                </div>
              </div>
              <div class="mt-0 form-group row justify-content-center">
                <label for="inputPassword" class="col-sm-1 col-form-label col-form-label-sm text-font" style="margin-right: 10px;">SENHA</label>
                <div class="col-sm-5">
                  <input type="password" class="form-control form-control-sm rounded-0 p-0" id="inputPassword" [formControl]="loginForm.controls.password" placeholder="">
                </div>
              </div>
              <div class="mb-0 form-group row mt-1 justify-content-center">
                <button class="bt-login" (click)="login(loginForm.value)" type="submit">Entrar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 align-self-center">
          <h3 class="semi-size-title">
          <strong>
          Somente as empresas que contratam os serviços da LUX ENERGIA têm permissão de acesso ao Portal.
          </strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">LUX ENERGIA LTDA</h3>
            <p>
              CLN 16 BLOCO I, SALA <br>
              207, PARTE 33 <br>
              BRASÍLIA-DF, 70.773-590
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">CONTATOS</h3>
            <p>
              Email: contato@luxmaisenergia.com.br <br>
              Telefone: 61 9 99932501 <br>
              61 9 81222501
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
            <h3 class="footer-titel">A LUX</h3>
            <a href="#" class="text-font">- Home</a> <br>
            <a href="#" class="text-font">- Quem somos</a> <br>
            <a href="#" class="text-font">- Portal Lux</a> <br>
            <a href="#" class="text-font">- Contato</a> <br>
          </div>
        </div>
      </div>
    </div>
  </footer>
    
    <!-- Footer Section End -->
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-arrow-up"></i>
    </a>
    
    <!-- Preloader -->
    <!-- <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div> -->
    <!-- End Preloader -->
      
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/_site/assets/js/jquery-min.js"></script>
<script src="assets/_site/assets/js/popper.min.js"></script>
<script src="assets/_site/assets/js/bootstrap.min.js"></script>
<script src="assets/_site/assets/js/owl.carousel.min.js"></script>
<script src="assets/_site/assets/js/wow.js"></script>
<script src="assets/_site/assets/js/jquery.nav.js"></script>
<script src="assets/_site/assets/js/scrolling-nav.js"></script>
<script src="assets/_site/assets/js/jquery.easing.min.js"></script>
<script src="assets/_site/assets/js/main.js"></script>
<script src="assets/_site/assets/js/form-validator.min.js"></script>
<script src="assets/_site/assets/js/contact-form-script.min.js"></script>