.box-usinas {
    padding: 5px 10px 10px;
    background: #f4f4f4;
    margin-top: 10px;
}

.item-usina {
    font-size: 14px;
    padding: 5px;
    line-height: 18px;
    margin-top: 10px;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 30px;
    position: relative;
}

.item-usina a {
    background: #ca2208;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    width: 22px;
    border-radius: 50%;
    text-transform: lowercase;
    bottom: 4px;
    height: 22px;
}

.botao-mais {
    width: 100%;
    padding: 0 !important;
    line-height: 35px !important;
}