<app-layout></app-layout>

<div id="wrap">

	<section class="Title">
		Cadastro >> Colaborador
	</section>

	<section class="BoxApp">
		<form id="form-search-clientes" [formGroup]="formSearch">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="exampleInputEmail1">Nome</label>
						<input class="form-control" id="nomeSearch" type="text" placeholder="Nome do Colaborador" [formControl]="formSearch.controls.nome">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="exampleInputEmail1">Status</label>
						<select id="status" [formControl]="formSearch.controls.status">
							<option value="ATIVO">ATIVO</option>
							<option value="INATIVO">INATIVO</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button (click)="showModalCadastro = !showModalCadastro" class="botao">Novo</button>
				</div>
				<div class="col-md-6">
					<div class="app-boxBotoes--direita">
						<button class="botao cinza" (click)="limparForm()">Limpar</button>
						<input class="botao" type="submit" (click)="pesquisarColaborador(formSearch.value)" name="logar" id="logar" value="Pesquisar">
					</div>
				</div>
			</div>
		</form>
	</section>

	<section class="BoxApp">
		<ngx-datatable #myTable
			class="bootstrap"
			[rows]="listCadastros"
			[columnMode]="'force'"
			[headerHeight]="50"
			[footerHeight]="50"
			[rowHeight]="'auto'"
			[messages]="{emptyMessage: 'Sem dados...'}"
			[limit]="15">

			<ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" name="Ações">
				<ng-template ngx-datatable-cell-template let-row="row">
					<div class="datatable-body-box-actions" *ngIf="row.status == 'ATIVO'">
						<a class="home-icon" (click)="editarVendedor(row)" title="Editar">
							<i class="fas fa-pencil-alt"></i>
						</a>
						<a class="home-icon" (click)="inativarVendedor(row)" title="Inativar">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<div class="datatable-body-box-actions" *ngIf="row.status == 'INATIVO'">
						<a class="home-icon" (click)="ativarVendedor(row)" title="Ativar">
							<i class="fas fa-check"></i>
						</a>
					</div>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>
			<ngx-datatable-column name="Nome" prop="nome"></ngx-datatable-column>
			<ngx-datatable-column name="E-mail" prop="email"></ngx-datatable-column>
			<ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
			<ngx-datatable-column name="Data Cadastro" prop="dataCadastro">
				<ng-template ngx-datatable-cell-template let-row="row">
					{{ formatDate(row.dataCadastro) }} 
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Data Alteração" prop="dataUltimaAtualizacao">
				<ng-template ngx-datatable-cell-template let-row="row">
					{{ formatDate(row.dataUltimaAtualizacao) }} 
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-footer>
				<ng-template 
				ngx-datatable-footer-template 
				let-rowCount="rowCount"
				let-pageSize="pageSize"
				let-selectedCount="selectedCount"
				let-curPage="curPage"
				let-offset="offset">
				<div>
					<div class="page-count">
					Total de Registros: {{rowCount}}
					</div>
				</div>
				<datatable-pager
						[pagerLeftArrowIcon]="'fa fa-angle-double-left'"
						[pagerRightArrowIcon]="'fa fa-angle-double-right '"
						[pagerPreviousIcon]="'fa fa-angle-left'"
						[pagerNextIcon]="'fa fa-angle-right '"
						[page]="curPage"
						[size]="pageSize"
						[count]="rowCount"
						[hidden]="!((rowCount / pageSize) > 1)"
						(change)="table.onFooterPage($event)">
					</datatable-pager>
				</ng-template>
			</ngx-datatable-footer>

		</ngx-datatable>
	</section>

</div>

<app-dialog [(visible)]="showModalCadastro">

	<div class="dialog-header">
		Cadastro de Colaborador
		<a (click)="fecharModal()" aria-label="Close" class="dialog__close-btn">x</a>
	</div>

	<div class="dialog-body">
		<form id="form-save-usina" [formGroup]="formSave">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Nome</label>
						<input class="form-control" id="nomeSearch" type="text" placeholder="Nome do Colaborador..." [formControl]="formSave.controls.nome">
						<div class="input-error" *ngIf="formSave.get('nome').touched && formSave.get('nome').hasError('required')">
							Nome é obrigatório.
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">E-mail</label>
						<input class="form-control" id="nomeSearch" *ngIf="!formSave.value.id" type="text" [formControl]="formSave.controls.email">
						<input class="form-control" id="nomeSearch" readonly *ngIf="formSave.value.id" type="text" [formControl]="formSave.controls.email">
						<div class="input-error" *ngIf="formSave.get('email').touched && formSave.get('email').hasError('required')">
							E-mail é obrigatório.
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>

	<div class="dialog-footer">
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="app-boxBotoes">
				</div>
			</div>
			<div class="col-md-6">
				<div class="app-boxBotoes--direita" *ngIf="showBtSalvar">
					<button class="botao cinza" (click)="fecharModal()">Cancelar</button>
					<input class="botao" type="submit" (click)="sendForm(formSave.value)" id="salvar-user" value="Salvar">
				</div>
				<div class="app-boxBotoes--direita" *ngIf="!showBtSalvar">
					<img class="loader-bt-save" src="assets/img/ajax-loader.gif" />
				</div>
			</div>
		</div>
	</div>

</app-dialog>

<app-dialog [(visible)]="showModalDesativar">

	<div class="dialog-header">
		Deseja desativar o Colaborador "{{ objDesativar.nome }}"?
		<a (click)="fecharModalDesativar()" aria-label="Close" class="dialog__close-btn">x</a>
	</div>

	<div class="dialog-body">
	</div>

	<div class="dialog-footer">
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="app-boxBotoes">
				</div>
			</div>
			<div class="col-md-6">
				<div class="app-boxBotoes--direita">
					<button class="botao" (click)="fecharModalDesativar()">Cancelar</button>
					<input class="botao cinza" type="submit" (click)="sendDesativar()" id="salvar-oport" value="Desativar">
				</div>
			</div>
		</div>
	</div>
		
</app-dialog>		